<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>



<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">所属長承認申請のお知らせ</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <% if current_user.id == 3 %>
          <%= form_with(model: @user, url: update_zokucho_user_path, local: true, method: :patch) do |f| %>
          
            <% @users_plus.each do |user| %>
              <h3 class="center">【<%= user.name %>】</h3>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th class="center">月</th>
                    <th class="center">指示者確認印</th>
                    <th class="center">変更</th>
                    <th class="center">勤怠を確認する</th>
                  </tr>
                </thead>
                <tbody>
                  <% user.attendances.where.not(zokucho_day: nil).where(zokucho_approval: "申請中").each do |attendance| %>
                  <%= f.fields_for "attendances[]", attendance do |at| %>
                  <tr>
                    <td><%= l(attendance.zokucho_day, format: :day) %></td>
                    <td><%= at.select :zokucho_approval, ['申請中', '承認', '否認'], include_blank: true %></td>
                    <td><%= at.check_box :zokucho_box, {}, true, false %></td>
                    <td><%= link_to "確認", show_view_only_path(user, date: attendance.zokucho_day), class: "btn btn-primary", target: ":_blank" %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
              
            <% end %>
            <%= f.submit "許可", class: "btn btn-primary btn-block" %>
          <% end %>
          <% end %>
          
          
          <% if current_user.id == 2 %>
          <%= form_with(model: @user, url: update_zokucho_user_path, local: true, method: :patch) do |f| %>
          
            <% @users.each do |user| %>
              <h3 class="center">【<%= user.name %>】</h3>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th class="center">月</th>
                    <th class="center">指示者確認印</th>
                    <th class="center">変更</th>
                    <th class="center">勤怠を確認する</th>
                  </tr>
                </thead>
                <tbody>
                  <% user.attendances.where.not(zokucho_day: nil).where(zokucho_approval: "申請中").each do |attendance| %>
                  <%= f.fields_for "attendances[]", attendance do |at| %>
                  <tr>
                    <td><%= l(attendance.zokucho_day, format: :day) %></td>
                    <td><%= at.select :zokucho_approval, ['申請中', '承認', '否認'], include_blank: true %></td>
                    <td><%= at.check_box :zokucho_box, {}, true, false %></td>
                    <td><%= link_to "確認", show_view_only_path(user, date: attendance.zokucho_day), class: "btn btn-primary", target: ":_blank" %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
              
            <% end %>
            <%= f.submit "許可", class: "btn btn-primary btn-block" %>
          <% end %>
          <% end %>
          
          
          
        </div>
      </div>
    </div>
  </div>
</div>

